@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto Mono", monospace;
  background-color: #f4f4f4;
}

.text-gradient {
  font-weight: 700;
  font-style: Bold;
  letter-spacing: -2%;
  background: linear-gradient(
    180deg,
    #160c0c 0%,
    rgba(129, 108, 108, 0.094) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(114, 10, 10, 0);
  opacity: 0.1;
  text-transform: uppercase;
  width: max-content;
  letter-spacing: -0.09em;
}

/* Custom styles for loader */
.char {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.char span {
  position: relative;
  display: inline-block;
  transform: translateY(-100%);
  will-change: transform;
}

.word {
  position: relative;
  display: inline-block;
  /* transform: translateY(-100%); */
  will-change: transform;
}

.tag .word {
  position: relative;
  display: inline-block;
  transform: translateY(-100%);
  will-change: transform;
}

.intro-title .char,
.outro-title .char {
  margin-top: 0.75rem;
}

.card .char span {
  position: relative;
  display: inline-block;
  transform: translateY(100%);
  will-change: transform;
}

@media (max-width: 1000px) {
  .intro-title .char,
  .outro-title .char {
    margin-top: 0.5rem;
  }
}

